# PyCity Schools Analysis

The following analysis runs through a large dataset containing details about fifteen high schools. The data was analyzed through district, school, highest-performing schools, lowest-performing schools, math scores by grade, reading scores by grade, scores by school spending, scores by school size, and scores by school type summaries.

Through this analysis, the highest-performing schools that had the most students pass with their math and reading scores above 70 were concluded to be of the charter school type. The secret to their success may be due to having excellent teachers distributed across all grades, because all of these highest-performing schools had 83% and above students pass with their math and reading scores in the 9th, 10th, 11th, and 12th grades.

In [218]:
# Import Packages
import pandas as pd
from pathlib import Path

# File Paths
load_school_data = Path("Resources/schools_complete.csv")
load_student_data = Path("Resources/students_complete.csv")

# Store Data Files in Pandas DataFrames
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

# Consolidate Data
all_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
all_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [219]:
# Calculate Total Number of Unique Schools
school_count = len(all_school_data["school_name"].unique())
school_count

15

In [220]:
# Calculate Total Number of Students
student_count = len(all_school_data["Student ID"].unique())
student_count

39170

In [221]:
# Calculate the Total Budget
total_budget = sum(all_school_data["budget"].unique())
total_budget

24649428

In [222]:
# Calculate Average Math Score
average_math_score = all_school_data["math_score"].mean()
average_math_score

78.98537145774827

In [223]:
# Calculate Average Reading Score
average_reading_score = all_school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [224]:
# Calculate Percentage Passing Math
passing_math_count = all_school_data[(all_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [225]:
# Calculate Percentage Passing Reading
passing_reading_count = all_school_data[(all_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [231]:
# Calculate Overall Passing Rate for Students Passing Math and Reading
passing_math_reading_count = all_school_data[
    (all_school_data["math_score"] >= 70) & (all_school_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [232]:
# Create DataFrame for Calculations
district_summary = pd.DataFrame({
    "Total Schools": [school_count], "Total Students": [student_count], "Total Budget": [total_budget],
    "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]})
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [233]:
# Find All School Names
school_names = school_data["school_name"]

In [234]:
# Find All School Types
school_types = school_data["type"]

In [235]:
# Calculate Total Student Count Per School
per_school_counts = school_data["size"]

In [236]:
# Calculate Total School Budget and Budget Per Student
per_school_budget = school_data["budget"]
per_school_capita = per_school_budget / per_school_counts

In [237]:
# Calculate Average Math and Reading Score Per School
per_school_math = [student_data[(student_data["school_name"] == "Huang High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Figueroa High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Shelton High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Hernandez High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Griffin High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Wilson High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Cabrera High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Bailey High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Holden High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Pena High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Wright High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Rodriguez High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Johnson High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Ford High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Thomas High School")]["math_score"].mean()]
per_school_reading = [student_data[(student_data["school_name"] == "Huang High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Figueroa High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Shelton High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Hernandez High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Griffin High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Wilson High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Cabrera High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Bailey High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Holden High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Pena High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Wright High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Rodriguez High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Johnson High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Ford High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Thomas High School")]["reading_score"].mean()]

In [238]:
# Calculate Number of Students Per School Passing Math
students_passing_math = student_data[(student_data["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(student_data["school_name"]).size()

In [239]:
# Calculate Number of Students Per School Passing Reading
students_passing_reading = student_data[(student_data["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(student_data["school_name"]).size()

In [240]:
# Calculate Number of Students Per School Passing Overall
students_passing_math_and_reading = student_data[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [241]:
# Calculate Passing Rates Per School for Math, Reading, and Overall
per_school_passing_math = [round(school_students_passing_math[7] / per_school_counts[0] * 100, 6),
                           round(school_students_passing_math[2] / per_school_counts[1] * 100, 6),
                           round(school_students_passing_math[11] / per_school_counts[2] * 100, 6),
                           round(school_students_passing_math[5] / per_school_counts[3] * 100, 6),
                           round(school_students_passing_math[4] / per_school_counts[4] * 100, 6),
                           round(school_students_passing_math[13] / per_school_counts[5] * 100, 6),
                           round(school_students_passing_math[1] / per_school_counts[6] * 100, 6),
                           round(school_students_passing_math[0] / per_school_counts[7] * 100, 6),
                           round(school_students_passing_math[6] / per_school_counts[8] * 100, 6),
                           round(school_students_passing_math[9] / per_school_counts[9] * 100, 6),
                           round(school_students_passing_math[14] / per_school_counts[10] * 100, 6),
                           round(school_students_passing_math[10] / per_school_counts[11] * 100, 6),
                           round(school_students_passing_math[8] / per_school_counts[12] * 100, 6),
                           round(school_students_passing_math[3] / per_school_counts[13] * 100, 6),
                           round(school_students_passing_math[12] / per_school_counts[14] * 100, 6)]
per_school_passing_reading = [round(school_students_passing_reading[7] / per_school_counts[0] * 100, 6),
                              round(school_students_passing_reading[2] / per_school_counts[1] * 100, 6),
                              round(school_students_passing_reading[11] / per_school_counts[2] * 100, 6),
                              round(school_students_passing_reading[5] / per_school_counts[3] * 100, 6),
                              round(school_students_passing_reading[4] / per_school_counts[4] * 100, 6),
                              round(school_students_passing_reading[13] / per_school_counts[5] * 100, 6),
                              round(school_students_passing_reading[1] / per_school_counts[6] * 100, 6),
                              round(school_students_passing_reading[0] / per_school_counts[7] * 100, 6),
                              round(school_students_passing_reading[6] / per_school_counts[8] * 100, 6),
                              round(school_students_passing_reading[9] / per_school_counts[9] * 100, 6),
                              round(school_students_passing_reading[14] / per_school_counts[10] * 100, 6),
                              round(school_students_passing_reading[10] / per_school_counts[11] * 100, 6),
                              round(school_students_passing_reading[8] / per_school_counts[12] * 100, 6),
                              round(school_students_passing_reading[3] / per_school_counts[13] * 100, 6),
                              round(school_students_passing_reading[12] / per_school_counts[14] * 100, 6)]
overall_passing_rate = [round(school_students_passing_math_and_reading[7] / per_school_counts[0] * 100, 6),
                        round(school_students_passing_math_and_reading[2] / per_school_counts[1] * 100, 6),
                        round(school_students_passing_math_and_reading[11] / per_school_counts[2] * 100, 6),
                        round(school_students_passing_math_and_reading[5] / per_school_counts[3] * 100, 6),
                        round(school_students_passing_math_and_reading[4] / per_school_counts[4] * 100, 6),
                        round(school_students_passing_math_and_reading[13] / per_school_counts[5] * 100, 6),
                        round(school_students_passing_math_and_reading[1] / per_school_counts[6] * 100, 6),
                        round(school_students_passing_math_and_reading[0] / per_school_counts[7] * 100, 6),
                        round(school_students_passing_math_and_reading[6] / per_school_counts[8] * 100, 6),
                        round(school_students_passing_math_and_reading[9] / per_school_counts[9] * 100, 6),
                        round(school_students_passing_math_and_reading[14] / per_school_counts[10] * 100, 6),
                        round(school_students_passing_math_and_reading[10] / per_school_counts[11] * 100, 6),
                        round(school_students_passing_math_and_reading[8] / per_school_counts[12] * 100, 6),
                        round(school_students_passing_math_and_reading[3] / per_school_counts[13] * 100, 6),
                        round(school_students_passing_math_and_reading[12] / per_school_counts[14] * 100, 6)]

In [147]:
# Create DataFrame for Calculations
per_school_summary = pd.DataFrame({
    "School Type": [school_types[0],school_types[1], school_types[2], school_types[3], school_types[4],
                    school_types[5], school_types[6], school_types[7], school_types[8], school_types[9],
                    school_types[10], school_types[11], school_types[12], school_types[13], school_types[14]],
    "Total Students": [per_school_counts[0],per_school_counts[1], per_school_counts[2], per_school_counts[3], per_school_counts[4],
                       per_school_counts[5], per_school_counts[6], per_school_counts[7], per_school_counts[8], per_school_counts[9],
                       per_school_counts[10], per_school_counts[11], per_school_counts[12], per_school_counts[13], per_school_counts[14]],
    "Total School Budget": [per_school_budget[0], per_school_budget[1], per_school_budget[2], per_school_budget[3], per_school_budget[4],
                            per_school_budget[5], per_school_budget[6], per_school_budget[7], per_school_budget[8], per_school_budget[9],
                            per_school_budget[10], per_school_budget[11], per_school_budget[12], per_school_budget[13], per_school_budget[14]],
    "Per Student Budget": [per_school_capita[0], per_school_capita[1], per_school_capita[2], per_school_capita[3], per_school_capita[4],
                           per_school_capita[5], per_school_capita[6], per_school_capita[7], per_school_capita[8], per_school_capita[9],
                           per_school_capita[10], per_school_capita[11], per_school_capita[12], per_school_capita[13], per_school_capita[14]],
    "Average Math Score": [per_school_math[0], per_school_math[1], per_school_math[2], per_school_math[3], per_school_math[4],
                           per_school_math[5], per_school_math[6], per_school_math[7], per_school_math[8], per_school_math[9],
                           per_school_math[10], per_school_math[11], per_school_math[12], per_school_math[13], per_school_math[14]],
    "Average Reading Score": [per_school_reading[0], per_school_reading[1], per_school_reading[2], per_school_reading[3], per_school_reading[4],
                              per_school_reading[5], per_school_reading[6], per_school_reading[7], per_school_reading[8], per_school_reading[9],
                              per_school_reading[10], per_school_reading[11], per_school_reading[12], per_school_reading[13], per_school_reading[14]],
    "% Passing Math": [per_school_passing_math[0], per_school_passing_math[1], per_school_passing_math[2], per_school_passing_math[3], per_school_passing_math[4],
                       per_school_passing_math[5], per_school_passing_math[6], per_school_passing_math[7], per_school_passing_math[8], per_school_passing_math[9],
                       per_school_passing_math[10], per_school_passing_math[11], per_school_passing_math[12], per_school_passing_math[13], per_school_passing_math[14]],
    "% Passing Reading": [per_school_passing_reading[0], per_school_passing_reading[1], per_school_passing_reading[2], per_school_passing_reading[3], per_school_passing_reading[4],
                          per_school_passing_reading[5], per_school_passing_reading[6], per_school_passing_reading[7], per_school_passing_reading[8], per_school_passing_reading[9],
                          per_school_passing_reading[10], per_school_passing_reading[11], per_school_passing_reading[12], per_school_passing_reading[13], per_school_passing_reading[14]],
    "% Overall Passing": [overall_passing_rate[0], overall_passing_rate[1], overall_passing_rate[2], overall_passing_rate[3], overall_passing_rate[4],
                          overall_passing_rate[5], overall_passing_rate[6], overall_passing_rate[7], overall_passing_rate[8], overall_passing_rate[9],
                          overall_passing_rate[10], overall_passing_rate[11], overall_passing_rate[12], overall_passing_rate[13], overall_passing_rate[14]]}, index = school_names)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Data Wrangling
per_school_summary.index.name = None

# Display DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012

## Highest-Performing Schools (by % Overall Passing)

In [243]:
# Sort Schools by % Overall Passing and Display DataFrame for the Top 5 Schools
top_schools = pd.DataFrame({"% Overall Passing": [overall_passing_rate[6], overall_passing_rate[14], overall_passing_rate[4], overall_passing_rate[5], overall_passing_rate[9],
                            overall_passing_rate[10], overall_passing_rate[2], overall_passing_rate[8], overall_passing_rate[7], overall_passing_rate[13],
                            overall_passing_rate[12], overall_passing_rate[3], overall_passing_rate[0], overall_passing_rate[1], overall_passing_rate[11]]}, 
                            index = [school_names[6], school_names[14], school_names[4], school_names[5], school_names[9], school_names[10], school_names[2],
                            school_names[8], school_names[7], school_names[13], school_names[12], school_names[3], school_names[0], school_names[1], school_names[11]])

# Display Top 5 Schools
top_schools.head(5)

                     % Overall Passing
Cabrera High School          91.334769
Thomas High School           90.948012
Griffin High School          90.599455
Wilson High School           90.582567
Pena High School             90.540541

## Lowest-Performing Schools (by % Overall Passing)

In [244]:
# Sort the Schools by `% Overall Passing` and Display the Bottom 5 Schools
bottom_schools = pd.DataFrame({"% Overall Passing": [overall_passing_rate[11], overall_passing_rate[1], overall_passing_rate[0], overall_passing_rate[3], overall_passing_rate[12],
                            overall_passing_rate[13], overall_passing_rate[7], overall_passing_rate[8], overall_passing_rate[2], overall_passing_rate[10],
                            overall_passing_rate[9], overall_passing_rate[5], overall_passing_rate[4], overall_passing_rate[14], overall_passing_rate[6]]}, 
                            index = [school_names[11], school_names[1], school_names[0], school_names[3], school_names[12], school_names[13], school_names[7],
                            school_names[8], school_names[2], school_names[10], school_names[9], school_names[5], school_names[4], school_names[14], school_names[6]])

# Display Bottom 5 Schools
bottom_schools.head(5)

                       % Overall Passing
Rodriguez High School          52.988247
Figueroa High School           53.204476
Huang High School              53.513884
Hernandez High School          53.527508
Johnson High School            53.539172

## Math Scores by Grade

In [245]:
# Separate Data by Grade
ninth_graders = all_school_data[(all_school_data["grade"] == "9th")]
tenth_graders = all_school_data[(all_school_data["grade"] == "10th")]
eleventh_graders = all_school_data[(all_school_data["grade"] == "11th")]
twelfth_graders = all_school_data[(all_school_data["grade"] == "12th")]

# Group by School Name
ninth_grader_math_scores = ninth_graders.groupby(all_school_data["school_name"]).size()
tenth_grader_math_scores = tenth_graders.groupby(all_school_data["school_name"]).size()
eleventh_grader_math_scores = eleventh_graders.groupby(all_school_data["school_name"]).size()
twelfth_grader_math_scores = twelfth_graders.groupby(all_school_data["school_name"]).size()

# Calculate Mean of Math Scores and Combine Scores into DataFrame
average_math_ninth_grade = [round(ninth_graders[(ninth_graders["school_name"] == "Huang High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Figueroa High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Shelton High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Hernandez High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Griffin High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Wilson High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Cabrera High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Bailey High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Holden High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Pena High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Wright High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Rodriguez High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Johnson High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Ford High School")]["math_score"].mean(), 6),
                            round(ninth_graders[(ninth_graders["school_name"] == "Thomas High School")]["math_score"].mean(), 6)]
average_math_tenth_grade = [round(tenth_graders[(tenth_graders["school_name"] == "Huang High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Figueroa High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Shelton High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Hernandez High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Griffin High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Wilson High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Cabrera High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Bailey High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Holden High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Pena High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Wright High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Rodriguez High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Johnson High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Ford High School")]["math_score"].mean(), 6),
                            round(tenth_graders[(tenth_graders["school_name"] == "Thomas High School")]["math_score"].mean(), 6)]
average_math_eleventh_grade = [round(eleventh_graders[(eleventh_graders["school_name"] == "Huang High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Figueroa High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Shelton High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Hernandez High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Griffin High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Wilson High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Cabrera High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Bailey High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Holden High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Pena High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Wright High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Rodriguez High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Johnson High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Ford High School")]["math_score"].mean(), 6),
                               round(eleventh_graders[(eleventh_graders["school_name"] == "Thomas High School")]["math_score"].mean(), 6)]
average_math_twelfth_grade = [round(twelfth_graders[(twelfth_graders["school_name"] == "Huang High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Figueroa High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Shelton High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Hernandez High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Griffin High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Wilson High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Cabrera High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Bailey High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Holden High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Pena High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Wright High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Rodriguez High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Johnson High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Ford High School")]["math_score"].mean(), 6),
                              round(twelfth_graders[(twelfth_graders["school_name"] == "Thomas High School")]["math_score"].mean(), 6)]

math_scores_by_grade = pd.DataFrame({
    "9th": [average_math_ninth_grade[0],average_math_ninth_grade[1], average_math_ninth_grade[2], average_math_ninth_grade[3],
            average_math_ninth_grade[4], average_math_ninth_grade[5], average_math_ninth_grade[6], average_math_ninth_grade[7], 
            average_math_ninth_grade[8], average_math_ninth_grade[9], average_math_ninth_grade[10], average_math_ninth_grade[11],
            average_math_ninth_grade[12], average_math_ninth_grade[13], average_math_ninth_grade[14]],
    "10th": [average_math_tenth_grade[0],average_math_tenth_grade[1], average_math_tenth_grade[2], average_math_tenth_grade[3],
             average_math_tenth_grade[4], average_math_tenth_grade[5], average_math_tenth_grade[6], average_math_tenth_grade[7], 
             average_math_tenth_grade[8], average_math_tenth_grade[9], average_math_tenth_grade[10], average_math_tenth_grade[11],
             average_math_tenth_grade[12], average_math_tenth_grade[13], average_math_tenth_grade[14]],
    "11th": [average_math_eleventh_grade[0],average_math_eleventh_grade[1], average_math_eleventh_grade[2], average_math_eleventh_grade[3],
             average_math_eleventh_grade[4], average_math_eleventh_grade[5], average_math_eleventh_grade[6], average_math_eleventh_grade[7], 
             average_math_eleventh_grade[8], average_math_eleventh_grade[9], average_math_eleventh_grade[10], average_math_eleventh_grade[11],
             average_math_eleventh_grade[12], average_math_eleventh_grade[13], average_math_eleventh_grade[14]],
    "12th": [average_math_twelfth_grade[0],average_math_twelfth_grade[1], average_math_twelfth_grade[2], average_math_twelfth_grade[3],
             average_math_twelfth_grade[4], average_math_twelfth_grade[5], average_math_twelfth_grade[6], average_math_twelfth_grade[7], 
             average_math_twelfth_grade[8], average_math_twelfth_grade[9], average_math_twelfth_grade[10], average_math_twelfth_grade[11],
             average_math_twelfth_grade[12], average_math_twelfth_grade[13], average_math_twelfth_grade[14]]},
    index = school_names)

# Data Wrangling
math_scores_by_grade.index.name = None

# Display DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Huang High School      77.027251  75.908735  76.446602  77.225641
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Shelton High School    83.420755  82.917411  83.383495  83.778976
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Griffin High School    82.044010  84.229064  83.842105  83.356164
Wilson High School     83.085578  83.724422  83.195326  83.035794
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Bailey High School     77.083676  76.996772  77.515588  76.492218
Holden High School     83.787402  83.429825  85.000000  82.855422
Pena High School       83.625455  83.372000  84.328125  84.121547
Wright High School     83.264706  84.010288  83.836782  83.644986
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Johnson High School    77.187857  76.691117  77.491653  76.863248
Ford High School       77.361345  77.672316  76.918058  76.179963
Thomas High School     83.590022  83.087886  83.498795  83.497041

## Reading Scores by Grade

In [246]:
# Separate Data by Grade
ninth_graders = all_school_data[(all_school_data["grade"] == "9th")]
tenth_graders = all_school_data[(all_school_data["grade"] == "10th")]
eleventh_graders = all_school_data[(all_school_data["grade"] == "11th")]
twelfth_graders = all_school_data[(all_school_data["grade"] == "12th")]

# Group by School Name
ninth_grader_reading_scores = ninth_graders.groupby(all_school_data["school_name"]).size()
tenth_grader_reading_scores = tenth_graders.groupby(all_school_data["school_name"]).size()
eleventh_grader_reading_scores = eleventh_graders.groupby(all_school_data["school_name"]).size()
twelfth_grader_reading_scores = twelfth_graders.groupby(all_school_data["school_name"]).size()

# Calculate Mean of Reading Scores and Combine Scores into DataFrame
average_reading_ninth_grade = [round(ninth_graders[(ninth_graders["school_name"] == "Huang High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Figueroa High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Shelton High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Hernandez High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Griffin High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Wilson High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Cabrera High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Bailey High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Holden High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Pena High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Wright High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Rodriguez High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Johnson High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Ford High School")]["reading_score"].mean(), 6),
                               round(ninth_graders[(ninth_graders["school_name"] == "Thomas High School")]["reading_score"].mean(), 6)]
average_reading_tenth_grade = [round(tenth_graders[(tenth_graders["school_name"] == "Huang High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Figueroa High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Shelton High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Hernandez High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Griffin High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Wilson High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Cabrera High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Bailey High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Holden High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Pena High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Wright High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Rodriguez High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Johnson High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Ford High School")]["reading_score"].mean(), 6),
                               round(tenth_graders[(tenth_graders["school_name"] == "Thomas High School")]["reading_score"].mean(), 6)]
average_reading_eleventh_grade = [round(eleventh_graders[(eleventh_graders["school_name"] == "Huang High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Figueroa High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Shelton High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Hernandez High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Griffin High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Wilson High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Cabrera High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Bailey High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Holden High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Pena High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Wright High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Rodriguez High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Johnson High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Ford High School")]["reading_score"].mean(), 6),
                                  round(eleventh_graders[(eleventh_graders["school_name"] == "Thomas High School")]["reading_score"].mean(), 6)]
average_reading_twelfth_grade = [round(twelfth_graders[(twelfth_graders["school_name"] == "Huang High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Figueroa High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Shelton High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Hernandez High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Griffin High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Wilson High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Cabrera High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Bailey High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Holden High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Pena High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Wright High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Rodriguez High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Johnson High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Ford High School")]["reading_score"].mean(), 6),
                                 round(twelfth_graders[(twelfth_graders["school_name"] == "Thomas High School")]["reading_score"].mean(), 6)]

reading_scores_by_grade = pd.DataFrame({
    "9th": [average_reading_ninth_grade[0],average_reading_ninth_grade[1], average_reading_ninth_grade[2], average_reading_ninth_grade[3],
            average_reading_ninth_grade[4], average_reading_ninth_grade[5], average_reading_ninth_grade[6], average_reading_ninth_grade[7], 
            average_reading_ninth_grade[8], average_reading_ninth_grade[9], average_reading_ninth_grade[10], average_reading_ninth_grade[11],
            average_reading_ninth_grade[12], average_reading_ninth_grade[13], average_reading_ninth_grade[14]],
    "10th": [average_reading_tenth_grade[0],average_reading_tenth_grade[1], average_reading_tenth_grade[2], average_reading_tenth_grade[3],
             average_reading_tenth_grade[4], average_reading_tenth_grade[5], average_reading_tenth_grade[6], average_reading_tenth_grade[7], 
             average_reading_tenth_grade[8], average_reading_tenth_grade[9], average_reading_tenth_grade[10], average_reading_tenth_grade[11],
             average_reading_tenth_grade[12], average_reading_tenth_grade[13], average_reading_tenth_grade[14]],
    "11th": [average_reading_eleventh_grade[0],average_reading_eleventh_grade[1], average_reading_eleventh_grade[2], average_reading_eleventh_grade[3],
             average_reading_eleventh_grade[4], average_reading_eleventh_grade[5], average_reading_eleventh_grade[6], average_reading_eleventh_grade[7], 
             average_reading_eleventh_grade[8], average_reading_eleventh_grade[9], average_reading_eleventh_grade[10], average_reading_eleventh_grade[11],
             average_reading_eleventh_grade[12], average_reading_eleventh_grade[13], average_reading_eleventh_grade[14]],
    "12th": [average_reading_twelfth_grade[0],average_reading_twelfth_grade[1], average_reading_twelfth_grade[2], average_reading_twelfth_grade[3],
             average_reading_twelfth_grade[4], average_reading_twelfth_grade[5], average_reading_twelfth_grade[6], average_reading_twelfth_grade[7], 
             average_reading_twelfth_grade[8], average_reading_twelfth_grade[9], average_reading_twelfth_grade[10], average_reading_twelfth_grade[11],
             average_reading_twelfth_grade[12], average_reading_twelfth_grade[13], average_reading_twelfth_grade[14]]},
    index = school_names)

# Data Wrangling
reading_scores_by_grade.index.name = None

# Display DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Huang High School      81.290284  81.512386  81.417476  80.305983
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Shelton High School    84.122642  83.441964  84.373786  82.781671
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Griffin High School    83.369193  83.706897  84.288089  84.013699
Wilson High School     83.939778  84.021452  83.764608  84.317673
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Bailey High School     81.303155  80.907183  80.945643  80.912451
Holden High School     83.677165  83.324561  83.815534  84.698795
Pena High School       83.807273  83.612000  84.335938  84.591160
Wright High School     83.833333  83.812757  84.156322  84.073171
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Johnson High School    81.260714  80.773431  80.616027  81.227564
Ford High School       80.632653  81.262712  80.403642  80.662338
Thomas High School     83.728850  84.254157  83.585542  83.831361

## Scores by School Spending

In [247]:
# Establish Bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [248]:
# Create Copy of the School Summary
school_spending_df = per_school_summary.copy()

# Formatting
school_spending_df = pd.DataFrame({
    "School Type": [school_types[0],school_types[1], school_types[2], school_types[3], school_types[4],
                    school_types[5], school_types[6], school_types[7], school_types[8], school_types[9],
                    school_types[10], school_types[11], school_types[12], school_types[13], school_types[14]],
    "Total Students": [per_school_counts[0],per_school_counts[1], per_school_counts[2], per_school_counts[3], per_school_counts[4],
                       per_school_counts[5], per_school_counts[6], per_school_counts[7], per_school_counts[8], per_school_counts[9],
                       per_school_counts[10], per_school_counts[11], per_school_counts[12], per_school_counts[13], per_school_counts[14]],
    "Total School Budget": [per_school_budget[0], per_school_budget[1], per_school_budget[2], per_school_budget[3], per_school_budget[4],
                            per_school_budget[5], per_school_budget[6], per_school_budget[7], per_school_budget[8], per_school_budget[9],
                            per_school_budget[10], per_school_budget[11], per_school_budget[12], per_school_budget[13], per_school_budget[14]],
    "Per Student Budget": [per_school_capita[0], per_school_capita[1], per_school_capita[2], per_school_capita[3], per_school_capita[4],
                           per_school_capita[5], per_school_capita[6], per_school_capita[7], per_school_capita[8], per_school_capita[9],
                           per_school_capita[10], per_school_capita[11], per_school_capita[12], per_school_capita[13], per_school_capita[14]],
    "Average Math Score": [per_school_math[0], per_school_math[1], per_school_math[2], per_school_math[3], per_school_math[4],
                           per_school_math[5], per_school_math[6], per_school_math[7], per_school_math[8], per_school_math[9],
                           per_school_math[10], per_school_math[11], per_school_math[12], per_school_math[13], per_school_math[14]],
    "Average Reading Score": [per_school_reading[0], per_school_reading[1], per_school_reading[2], per_school_reading[3], per_school_reading[4],
                              per_school_reading[5], per_school_reading[6], per_school_reading[7], per_school_reading[8], per_school_reading[9],
                              per_school_reading[10], per_school_reading[11], per_school_reading[12], per_school_reading[13], per_school_reading[14]],
    "% Passing Math": [per_school_passing_math[0], per_school_passing_math[1], per_school_passing_math[2], per_school_passing_math[3], per_school_passing_math[4],
                       per_school_passing_math[5], per_school_passing_math[6], per_school_passing_math[7], per_school_passing_math[8], per_school_passing_math[9],
                       per_school_passing_math[10], per_school_passing_math[11], per_school_passing_math[12], per_school_passing_math[13], per_school_passing_math[14]],
    "% Passing Reading": [per_school_passing_reading[0], per_school_passing_reading[1], per_school_passing_reading[2], per_school_passing_reading[3], per_school_passing_reading[4],
                          per_school_passing_reading[5], per_school_passing_reading[6], per_school_passing_reading[7], per_school_passing_reading[8], per_school_passing_reading[9],
                          per_school_passing_reading[10], per_school_passing_reading[11], per_school_passing_reading[12], per_school_passing_reading[13], per_school_passing_reading[14]],
    "% Overall Passing": [overall_passing_rate[0], overall_passing_rate[1], overall_passing_rate[2], overall_passing_rate[3], overall_passing_rate[4],
                          overall_passing_rate[5], overall_passing_rate[6], overall_passing_rate[7], overall_passing_rate[8], overall_passing_rate[9],
                          overall_passing_rate[10], overall_passing_rate[11], overall_passing_rate[12], overall_passing_rate[13], overall_passing_rate[14]]}, index = school_names)

# Data Wrangling
school_spending_df.index.name = None

In [251]:
# Categorize Spending (Per Student) Based on the Bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], 
                                                      spending_bins, labels=labels)

# Formatting
school_spending_df["Total School Budget"] = school_spending_df["Total School Budget"].map("${:,.2f}".format)
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].map("${:,.2f}".format)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645

In [252]:
# Calculate Averages for Columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [199]:
# Assemble DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": [spending_math_scores["<$585"], spending_math_scores["$585-630"], spending_math_scores["$630-645"],
                           spending_math_scores["$645-680"]],
    "Average Reading Score": [spending_reading_scores["<$585"], spending_reading_scores["$585-630"], spending_reading_scores["$630-645"],
                              spending_reading_scores["$645-680"]],
    "% Passing Math": [spending_passing_math["<$585"], spending_passing_math["$585-630"], spending_passing_math["$630-645"],
                       spending_passing_math["$645-680"]],
    "% Passing Reading": [spending_passing_reading["<$585"], spending_passing_reading["$585-630"], spending_passing_reading["$630-645"],
                          spending_passing_reading["$645-680"]],
    "% Overall Passing": [overall_passing_spending["<$585"], overall_passing_spending["$585-630"], overall_passing_spending["$630-645"],
                          overall_passing_spending["$645-680"]]}, index = ["<$585", "$585-630", "$630-645", "$645-680"])

# Data Wrangling
spending_summary.index.name = "Spending Ranges (Per Student)"

# Display Results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418597
$630-645,78.518855,81.624473,73.484209,84.391793,62.857655
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [253]:
# Establish Bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [254]:
# Categorize Spending Based on the Bins
per_school_summary["School Size"] = per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], 
                                                                        size_bins, labels=labels)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)

In [256]:
# Calculate Averages for Columns
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [257]:
# Use Scores to Create New DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": [size_math_scores["Small (<1000)"], size_math_scores["Medium (1000-2000)"], size_math_scores["Large (2000-5000)"]],
    "Average Reading Score": [size_reading_scores["Small (<1000)"], size_reading_scores["Medium (1000-2000)"], size_reading_scores["Large (2000-5000)"]],
    "% Passing Math": [size_passing_math["Small (<1000)"], size_passing_math["Medium (1000-2000)"], size_passing_math["Large (2000-5000)"]],
    "% Passing Reading": [size_passing_reading["Small (<1000)"], size_passing_reading["Medium (1000-2000)"], size_passing_reading["Large (2000-5000)"]],
    "% Overall Passing": [size_overall_passing["Small (<1000)"], size_overall_passing["Medium (1000-2000)"], size_overall_passing["Large (2000-5000)"]]},
     index = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"])

# Data Wrangling
size_summary.index.name = "School Size"

# Display Results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099436,89.883854
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [258]:
# Group DataFrame by School Type and Average Results
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [260]:
# Assemble Data by Type into DataFrame
type_summary = pd.DataFrame({
    "Average Math Score": [average_math_score_by_type["Charter"], average_math_score_by_type["District"]],
    "Average Reading Score": [average_reading_score_by_type["Charter"], average_reading_score_by_type["District"]],
    "% Passing Math": [average_percent_passing_math_by_type["Charter"], average_percent_passing_math_by_type["District"]],
    "% Passing Reading": [average_percent_passing_reading_by_type["Charter"], average_percent_passing_reading_by_type["District"]],
    "% Overall Passing": [average_percent_overall_passing_by_type["Charter"], average_percent_overall_passing_by_type["District"]]},
    index = ["Charter", "District"])

# Data Wrangling
type_summary.index.name = "School Type"

# Display Results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208