# PyCity Schools Analysis

Your analysis here

In [1]:
# Import Packages
import pandas as pd
from pathlib import Path

# File Paths
load_school_data = Path("Resources/schools_complete.csv")
load_student_data = Path("Resources/students_complete.csv")

# Store Data Files in Pandas DataFrames
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

# Consolidate Data
all_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
all_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [10]:
# Calculate Total Number of Unique Schools
school_count = len(all_school_data["school_name"].unique())
school_count

15

In [12]:
# Calculate Total Number of Students
student_count = len(all_school_data["Student ID"].unique())
student_count

39170

In [21]:
# Calculate the Total Budget
total_budget = sum(all_school_data["budget"].unique())
total_budget

24649428

In [22]:
# Calculate Average Math Score
average_math_score = all_school_data["math_score"].mean()
average_math_score

78.98537145774827

In [23]:
# Calculate Average Reading Score
average_reading_score = all_school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [24]:
# Calculate Percentage Passing Math
passing_math_count = all_school_data[(all_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [25]:
# Calculate Percentage Passing Reading
passing_reading_count = all_school_data[(all_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [26]:
# Calculate Overall Passing Rate for Students Passing Math and Reading
passing_math_reading_count = all_school_data[
    (all_school_data["math_score"] >= 70) & (all_school_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [28]:
# Create DataFrame for Calculations
district_summary = pd.DataFrame({
    "Total Schools": [school_count], "Total Students": [student_count], "Total Budget": [total_budget],
    "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]})
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [3]:
# Find All School Names
school_names = school_data["school_name"]
school_names

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [4]:
# Find All School Types
school_types = school_data["type"]

In [5]:
# Calculate Total Student Count Per School
per_school_counts = school_data["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [6]:
# Calculate Total School Budget and Budget Per Student
per_school_budget = school_data["budget"]
per_school_capita = per_school_budget / per_school_counts

In [7]:
# Calculate Average Math and Reading Score Per School
per_school_math = [student_data[(student_data["school_name"] == "Huang High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Figueroa High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Shelton High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Hernandez High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Griffin High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Wilson High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Cabrera High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Bailey High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Holden High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Pena High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Wright High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Rodriguez High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Johnson High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Ford High School")]["math_score"].mean(),
                   student_data[(student_data["school_name"] == "Thomas High School")]["math_score"].mean()]
per_school_reading = [student_data[(student_data["school_name"] == "Huang High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Figueroa High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Shelton High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Hernandez High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Griffin High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Wilson High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Cabrera High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Bailey High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Holden High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Pena High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Wright High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Rodriguez High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Johnson High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Ford High School")]["reading_score"].mean(),
                      student_data[(student_data["school_name"] == "Thomas High School")]["reading_score"].mean()]

In [8]:
# Calculate Number of Students Per School Passing Math
students_passing_math = student_data[(student_data["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(student_data["school_name"]).size()

In [21]:
# Calculate Number of Students Per School Passing Reading
students_passing_reading = student_data[(student_data["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(student_data["school_name"]).size()

In [22]:
# Calculate Number of Students Per School Passing Overall
students_passing_math_and_reading = student_data[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [23]:
# Calculate Passing Rates Per School for Math, Reading, and Overall
per_school_passing_math = [1916 / 2917 * 100, 1946 / 2949 * 100, 1653 / 1761 * 100, 3094 / 4635 * 100, 1371 / 1468 * 100,
                           2143 / 2283 * 100, 1749 / 1858 * 100, 3318 / 4976 * 100, 395 / 427 * 100, 910 / 962 * 100,
                           1680 / 1800 * 100, 2654 / 3999 * 100, 3145 / 4761 * 100, 1871 / 2739 * 100, 1525 / 1635 * 100]
per_school_passing_reading = [2372 / 2917 * 100, 2381 / 2949 * 100, 1688 / 1761 * 100, 3748 / 4635 * 100, 1426 / 1468 * 100,
                              2204 / 2283 * 100, 1803 / 1858 * 100, 4077 / 4976 * 100, 411 / 427 * 100, 923 / 962 * 100,
                              1739 / 1800 * 100, 3208 / 3999 * 100, 3867 / 4761 * 100, 2172 / 2739 * 100, 1591 / 1635 * 100]
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [26]:
# Create DataFrame for Calculations
per_school_data = {"School Type": ["District", "District", "Charter", "District", "Charter", "Charter", "Charter",
                                   "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"],
                   "Total Students": ["2917", "2949", "1761", "4635", "1468", "2283", "1858", "4976", "427", "962", "1800",
                                      "3999", "4761", "2739", "1635"],
                   "Total School Budget": ["$1,910,635.00", "$1,884,411.00", "$1,056,600.00", "$3,022,020.00", "$917,500.00", "$1,319,574.00", 
                                           "$1,081,356.00", "$3,124,928.00", "$248,087.00", "$585,858.00", "$1,049,400.00", "$2,547,363.00", 
                                           "$3,094,650.00", "$1,763,916.00", "$1,043,130.00"],
                   "Per Student Budget": ["$655.00", "$639.00", "$600.00", "$652.00", "$625.00", "$578.00", "$582.00", "$628.00", "$581.00",
                                          "$609.00", "$583.00", "$637.00", "$650.00", "$644.00", "$638.00"],
                   "Average Math Score": ["76.629414", "76.711767", "83.359455", "77.289752", "83.351499", "83.274201",
                                          "83.061895", "77.048432", "83.803279", "83.839917", "83.682222", "76.842711",
                                          "77.072464", "77.102592", "83.418349"],
                   "Average Reading Score": ["81.182722", "81.158020", "83.725724", "80.934412", "83.816757", "83.989488",
                                             "83.975780", "81.033963", "83.814988", "84.044699", "83.955000", "80.744686",
                                             "80.966394", "80.746258", "83.848930"],
                   "% Passing Math": ["65.683922", "65.988471", "93.867121", "66.752967", "93.392371", "93.867718",
                                      "94.133477", "66.680064", "92.505855", "94.594595", "93.333333", "66.366592",
                                      "66.057551", "68.309602", "93.272171"],
                   "% Passing Reading": ["81.316421", "80.739234", "95.854628", "80.862999", "97.138965", "96.539641",
                                         "97.039828", "81.933280", "96.252927", "95.945946", "96.611111", "80.220055",
                                         "81.222432", "79.299014", "97.308869"],
                   "%Overall Passing": [overall_passing_rate]}
per_school_summary = pd.DataFrame(per_school_data, index = ["Huang High School", "Figueroa High School", "Shelton High School",
                                                            "Hernandez High School", "Griffin High School", "Wilson High School",
                                                            "Cabrera High School", "Bailey High School", "Holden High School",
                                                            "Pena High School", "Wright High School", "Rodriguez High School",
                                                            "Johnson High School", "Ford High School", "Thomas High School"])
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,Bailey High School NaN Cabrera High Schoo...
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,Bailey High School NaN Cabrera High Schoo...
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,Bailey High School NaN Cabrera High Schoo...
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,Bailey High School NaN Cabrera High Schoo...
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,Bailey High School NaN Cabrera High Schoo...
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,Bailey High School NaN Cabrera High Schoo...
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,Bailey High School NaN Cabrera High Schoo...
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,Bailey High School NaN Cabrera High Schoo...
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,Bailey High School NaN Cabrera High Schoo...
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,Bailey High School NaN Cabrera High Schoo...
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,Bailey High School NaN Cabrera High Schoo...
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,Bailey High School NaN Cabrera High Schoo...
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,Bailey High School NaN Cabrera High Schoo...
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,Bailey High School NaN Cabrera High Schoo...
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,Bailey High School NaN Cabrera High Schoo...

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the Schools by `% Overall Passing` and Display Top 5 Schools
top_schools = 
top_schools.head(5)

## Lowest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the Schools by `% Overall Passing` and Display the Bottom 5 Schools
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Separate Data by Grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by School Name and Calculate Mean of Math Scores
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine Scores into DataFrame
math_scores_by_grade = 

# Data Wrangling
math_scores_by_grade.index.name = None

# Display DataFrame
math_scores_by_grade

## Reading Scores by Grade

In [ ]:
# Separate Data by Grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by School Name and Calculate Mean of Reading Scores
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine Scores into DataFrame
reading_scores_by_grade = 

# Data Wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish Bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create Copy of the School Summary
school_spending_df = per_school_summary.copy()

In [ ]:
# Categorize Spending Based on the Bins
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
# Calculate Averages for Columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble DataFrame
spending_summary = 

# Display Results
spending_summary

## Scores by School Size

In [ ]:
# Establish Bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize Spending Based on the Bins
per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate Averages for Columns
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Use Scores to Create New DataFrame
size_summary = 

# Display Results
size_summary

## Scores by School Type

In [ ]:
# Group DataFrame by School Type and Average Results
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble Data by Type into DataFrame
type_summary = 

# Display Results
type_summary